body {
    margin: 10px;
    padding: 10px;
    background-color: #f5ccc9;
}

.navigointipalkki {
    color:black;

}

.navigointipalkki .nav-link {
    color: black;

}

.otsikko {
    text-align: center;
    color: black;
    padding: 30px;
    max-width: 700px;
    margin:auto;
  
  }

  h1 {
    text-shadow: 2px 2px 8px  #222649;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #222649;
    text-underline-offset: 10px;

  }

.carousel-container {
    width: 35%;
    margin: 0 auto;

}

.carousel-container .carousel-inner {
    width: 100%;        /* Varmistaa, että karuselli täyttää kontainerinsa leveyden */
  }

#ekasivun_ekapalsta {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}


.content {
    flex: 1; /* Venyttää sisältödivin täyttämään käytettävissä olevan tilan */
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%; /* Footerin leveys täyttää sivun leveyden */
    padding: 20px 0; /* Padding ylös ja alas */
    margin: 15px 0;
    text-align: center; 
    color:#f5ccc9;
    font-size: 16px;
    background-color: #222649; /* Taustaväri */
}